body, html {
    height: 100%;
    background-color: #ffffff;
}
#left {
    position: fixed;
    top: 0;
    bottom: 0;
}
.img-responsive{
    padding-left: 0px;
    padding-right: 0px;
}
.img-responsive img{
    width: 100%;
}
.menuu{
    position: fixed;
    top: 0;
    padding-top: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    text-decoration: none;
}
h1{
    font-size: 3.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color:  #000000;
    margin-left: 10%;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:#000000;
}
h3{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 21px;
}
.bigwords{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6vw;
    color: #000000;
    font-weight: 600;
    
}
.backg{
    background-repeat:no-repeat;
    background-position:center bottom;
    background-color: #000000;
    background-size: auto 116%;
}
.fix{
    position: fixed;
    z-index: 99;
}
hr { 
    border-color: #000000;
    border-width: 3px;   
    margin-left: 10%;
}
.bott{
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
}
.one .two .three .four .five .six{
    position: relative;
    display: inline-block; 
    z-index: -1;
}
.one .onehuv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.one:hover .onehuv {
    display: inline;
}

.two .twohuv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.two:hover .twohuv {
    display: inline;
}

.three .threehuv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.three:hover .threehuv {
    display: inline;
}
.four .fourhuv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.four:hover .fourhuv {
    display: inline;
}
.five .fivehuv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.five:hover .fivehuv {
    display: inline;
}
.six .sixhuv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.six:hover .sixhuv {
    display: inline;
}

.bufff{
    margin-left: 10%;
    width: 80%;
}

.minu{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    background-color: #ffffff;
    height: 65px;
    width: 48%;
    padding-top: 20px;
    padding-left: 15px;
    position: fixed;
    z-index: 99;
    border-bottom: solid;
    border-width: 8px; 
    font-size: 1vw;
}

.minu a:link {
    color: #000000;
    text-decoration: none;
}

.minu a:visited {
    color: #000000;
    text-decoration: none;
}

.minu a:hover {
    color: #d3d3d3;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #d3d3d3;
    padding-bottom: 2px;
}


.foot{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    background-color: #ffffff;
    height: 255px;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    z-index: 99;
    border-top: solid;
    border-width: 8px; 
    border-bottom: solid;
    
}



.wrapper {
  position: fixed;
    width: 50%;
    height: 100%;
    z-index: -99;
}

.wrapper .box{
  line-height: 100px;
  text-align: center;
  font-size: 160%;
  position: absolute;
}
.bone{
    height: 350px;
    z-index: -50;
}
.btwo{
    top: 39%;
    z-index: -49;
}
.bthree{
    top: 40%;
    z-index: -98;
}

.bfour{
    top: 67%;
    z-index: -99;
    
}
.bfive{
    top: 84%;
    z-index: -99;
    
}
.bsix{
    top: 88%;
    width: 100%;
    height: 350px;
    z-index: -50;
}
.bseven{
    top: 78%;
    z-index: -52;
}
.beight{
    top: 140%;
    
}



